@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Crete+Round");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Tinos");

p {
  font-family: 'Tinos', serif;
  font-size: 1.3em;
  font-weight: 500;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

h4 {
  font-family: 'Crete Round', serif;
  font-weight: 500;
  font-size: 1.7em;
  color: black;
  margin-top: 0;
}

a:hover, h4:hover {
  color: #0288D1;
  text-decoration: none;
}

h5 {
  font-family: 'Tinos', serif;
  font-size: 1.3em;
  font-weight: 500;
}

/**** Navbar ****/

#navbar-content a {
  font-size: 16px;
  color: #ffffff;
}

.navbar-inverse {
  border-radius: 0px;
  background-color: #757575;
  border: 0px;
  margin-bottom: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

.navbar-toggle {
  border-color: white !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: white;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #424242;
  color: #ffffff;
}

ul.nav.navbar-nav .dropdown.open .dropdown-toggle{
  color: #ffffff !important;
  background-color: #424242 !important;
}

ul.nav.navbar-nav .dropdown-toggle:focus {
  background-color: #757575 !important;
  color: #ffffff !important;
}

.dropdown-menu {
  background-color: #EEEEEE;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: 0 !important;
}

.dropdown-menu > li > a:hover, a:focus {
  background-color: #ffffff !important;
  color: #0288D1 !important;
}

.dropdown-menu a {
  color: black !important;
  background-color: #eeeeee !important;
}

ul.navbar-nav {
  margin-bottom: 0;
}

#banner {
  background-color: #607d8b;
}

#logo {
  height: 135px;
  padding: 3px;
  margin: 0 auto;
}

/**** Homepage ****/
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

#disclaimer {

}


.content {
  margin-top: 0px;
  padding-bottom: 15px;
}

/*.col-md-9, .col-md-3, .col-md-7, .col-md-2 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}*/

.row {
  margin-right: 0;
  margin-left: 0;
}

.image-column {
  padding-left: 0px;
}

.text-column {
  padding: 0;
}

img.menu-image {
  width: 90%;
  float: left;
  margin-right: 0;
  margin-bottom: 0;
}

.subheading {
  padding-left: 0;
}

.heading-divider {
  border-bottom: 2px solid #757575;
  margin-bottom: 20px;
  padding-left: 0px;
}

.divider {
  border-bottom: 1px solid #757575;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 35%
}

#about {
  padding-bottom: 30px;
}

#archive .heading-divider {
  border-bottom: 2px solid #757575;
  margin-bottom: 10px;
  padding-left: 0px;
}

#archive li {
    display: block;
}

/*#archive li:before {
    content: "\e165";
    font-family: 'Glyphicons Halflings';
    font-size: 6px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    color: #000000;
}*/

#credits {
  margin-top: 80px;
}

#submissions {
  padding-bottom: 30px;
}

#submissions li {
  font-family: 'Tinos', serif;
  font-size: 1.2em;
}
